
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:opsz,wght@14..32,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.time-meta, .level-meta {
    @apply flex items-center gap-2 text-gray-600;
}

/* Add icon before time and level*/
.time-meta::before {
    content: "🕒";
    margin-right: 0.25rem;
}

.level-meta::before {
    content: "👩🏼‍🍳";
    margin-right: 0.25rem;
}

/* Add stars after level based on difficulty */

.level-meta[data-level="easy"]::after {
    margin-left: 0.25rem;
    content: "★";
    color: #EAB308; /* text-green-500 */
}

.level-meta[data-level="intermediate"]::after {
    margin-left: 0.25rem;
    content: "★★★";
    color: #EAB308; /* text-yellow-500 */
}

.level-meta[data-level="advanced"]::after {
    margin-left: 0.25rem;
    content: "★★★★★";
    color: #e26641; /* text-red-500 */
}


.meta-tags {
    @apply inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2 mb-2;
}

/* Game Board */

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-top: 20px;
}


.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    background: #dcc5c5;
    border: 2px solid rgb(11, 32, 50);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.cell:hover {
    transform: scale(1.1);
}